@import "variables.scss";

.container {
  margin: 0 auto;

}

@media (min-width: $mobile-width) {
  .container {
    width: $mobile-width;
  }

  .container__inner {
    margin: 0 auto;
    padding: 0;
    width: 280px;
  }

  .container__inner--photos {
    padding-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }

  .container__inner {
    margin: 0 auto;
    padding: 0;
    width: 648px;
  }
}

@media (min-width: $dekstop-width) {
  .container {
    width: $dekstop-width;
  }

  .container__inner {
    margin: 0 auto;
    padding: 0;
    width: 960px;
  }
}
