.input-field__input {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.input-field__label {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
