@import "no-margin-padding";
@import "variables.scss";

.intro {
  display: flex;
  flex-direction: column;
}

@media (min-width: $mobile-width) {
  .intro__title {
    @include no-margin-padding();

    order: 2;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
  }

  .intro__description {
    @include no-margin-padding();
    order: 3;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
  }

  .intro__bg {
    order: 1;
  }
}
