@import "variables.scss";

.main-nav ul {
  @import "no-margin-padding";
  @include no-margin-padding();
  list-style: none;
}

.main-nav__list {
  background-color: white;
}

@media (min-width: $mobile-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main-nav__toggle {
    order: 2;
    width: 23px;
    height: 21px;
    background-color: #81b3d2;
    top: 239px;
    right: 20px;
    position: absolute;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    color: black;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__toggle {
    display: none;
  }
}
