@import "variables.scss";

.page-footer {
  display: flex;
  margin: 0 auto;
  background-color: white;
}

@media (min-width: $mobile-width) {
  .page-footer {
    flex-direction: column;
    width: $mobile-width;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
  }

  .page-footer__sedonaHash {
    background-color: white;
  }

  .page-footer__copyright {
    background-color: white;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
  }
}
