.page-footer {
  background-color: white;
}

.page-footer__social {
  background-color: white;
}

.page-footer__sedonaHash {
  background-color: white;
}

.page-footer__copyright {
  background-color: white;
}
