@import "variables.scss";

.photos-header-text-style {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-author-text-style {
  color: #333333;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $mobile-width) {
  .photos-header-text-style {
    margin-top: 12px;
  }
}
