@import "no-margin-padding";
@import "variables.scss";

.reasons-item__header {
  @include no-margin-padding();
  order: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons-item__number {
  @include no-margin-padding();
  order: 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.reasons-item__description {
  @include no-margin-padding();
  order: 3;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.reasons-item__townLife {
  background-color: white;
}

.reasons-item__blue-style {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item__main-style {
  background-color: #eeeeee;
}

@media (min-width: $mobile-width) {
  .reasons-item {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .reasons-item__blue-style {
    padding-top: 38px;
  }

  .reasons-item__blue-style--first {
    padding-top: 83px;
  }

  .reasons-item__main-style {
    padding-top: 24px;
    padding-bottom: 34px;
  }

  .reasons-item__number {
    margin-top: 8px;
  }

  .reasons-item__description {
    margin-top: 17px;
  }

  .reasons-item--first-item {
    order: 1;
  }

  .reasons-item__town-life {
    padding-top: 32px;
  }

  .reasons-item--town-life {
    order: 2;
    padding-top: 31px;
    padding-bottom: 10px;
  }

  .reasons-item__bg {
    margin-top: 42px;
    order: 4;
  }

  .reasons-item__blue-style--row,
  .reasons-item__main-style {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .reasons-item {
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .reasons-item__blue-style {
    display: flex;
    flex-direction: row;
  }

  .reasons-item__blue-style--row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .reasons-item--row {
    display: flex;
  }

  .reasons-item--first-item {
    order: 1;
  }

  .reasons-item--town-life {
    order: 2;
  }

  .reasons-item__bg--reverse {
    order: -1;
  }
}
