@mixin no-padding-margin {
  margin: 0px;
  padding: 0px;
}

@mixin text-style {
  text-transform: uppercase;
}

.reasons ul {
  @include no-padding-margin();
  list-style: none;
}

.reasons-item__blueStyle {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item__mainStyle {
  background-color: #eeeeee;
  color: #333333;
}

.reasons-item__header {
  @include no-padding-margin();
  @include text-style();
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.reasons-item__number {
  @include no-padding-margin();
  @include text-style();
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.reasons-item__description {
  @include no-padding-margin();
  @include text-style();
  font-size: 21px;
  font-weight: 400;
  line-height: 15px;
}

.townLife__header {
  @include no-padding-margin();
  @include text-style();
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.townLife__item__description {
  @include no-padding-margin();
  @include text-style();
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
