@import "no-margin-padding";
@import "variables.scss";

.town-life {
  background-color: white;
}

.town-life__item {
  background-color: white;
}

.town-life__item__description {
  @include no-margin-padding();

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.town-life__header {
  @include no-margin-padding();

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .town-life {
    display: flex;
  }
}
