@import "no-margin-padding";
@import "variables.scss";

.town-life {
  background-color: white;
}

.town-life__item {
  background-color: white;
}

.town-life__item__description {
  @include no-margin-padding();

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.town-life__header {
  @include no-margin-padding();

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: $mobile-width) {
  .town-life__header,
  .town-life__item__description {
    display: block;
  }

  .reasons-item__town-life {
    padding-top: 32px;
  }

  .town-life__item {
    padding-left: 50px;
  }

  .town-life__item__description {
    margin-top: 14px;
    padding-bottom: 28px;
  }
}

@media (min-width: $tablet-width) {
  .town-life {
    display: flex;
  }
}
